.alertCenterContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: calc(2vw + 15px);
    height: clamp(70vh, 90vh, 100vh);
    width: clamp(60vw, 75vw, 90vw);
    padding: calc(1vw + 15px);
}

.supplyShortageTitle h2 {
    font-family: 'Inter', sans-serif;
    font-size: clamp(0.8rem, 2vw, 1.5rem);
    font-weight: bold;
    color: #f4976c;
    text-align: center;
    margin-bottom: 20px;
}

.supplyShortageLayout {
    width: clamp(45%, 65%, 80%);
    max-width: 100%;
}

.roadUpdatesLayout {
    width: clamp(25%, 35%, 40%);
}

.supplyShortageContainer, .roadUpdatesContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
    height: 85vh;
    text-align: center;
}

.supplyShortageContainer {
    background-color: #D1FDFE;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.SupplyLayout {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 5px;
}

.supplyTitle h4 {
    margin-bottom: 0;
    font-family: 'Inter', sans-serif;
    font-size: clamp(0.875rem, 2.5vw, 1rem);
    font-weight: bold;
    color: #f4976c;
}

.SupplyContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    gap: 10px;
    padding: 10px;
}

.runningLow, .outofStock {
    width: clamp(80%, 90%, 95%);
    height: clamp(150px, 25vh, 300px);
    flex-direction: row;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.runningLow p, .outofStock p, ul {
    position: absolute;
    font-size: 12px; 
    font-weight: bold;
    font-family: 'Inter', sans-serif; 
    color: #333;
}

ul {                                               
    margin-top: 3%;
    margin-right: 3%;
    font-size: 10px;
    list-style-type: none;
}

.supplystatustitle p {
    font-size: 10px;
}

.roadUpdatesContainer {
    background-color: #FBE8A6;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.roadClosedLayout, .roadReOpenLayout {
    width: clamp(70%, 75%, 80%);
    height: clamp(35%, 45%, 50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: calc(0.5vw + 5px);
}

.roadTitle h4 {
    margin-bottom: 0;
    font-family: 'Inter', sans-serif;
    font-size: clamp(0.875rem, 2.5vw, 1rem);
    font-weight: bold;
    color: #303C6C;
}

.roadContainer {
    background-color: white;
    margin: calc(0.5vw + 5px); 
    border: 1px solid black;
    border-radius: 15px;
    height: clamp(180px, 25vh, 300px);
    padding: calc(0.5vw + 5px);
    width: 100%; 
    max-width: 500px; 
}

@media (max-width: 600px) {
    .navBar {
        width: 15%;
    }

    .navBarText {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0; /* Hide text while keeping spacing */
        margin-right: 20px;
        margin-top: 40px;
    }

    .icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .iconDiv {
        display: flex;
        flex-direction: column;
        margin-top: auto;
        margin-bottom: 30px;
        gap: 20px;
    }
    /* Custom icons for each item */
    #dashboard .icon {
        background-image: url('assets/dashboard.png');
    }
    #locatorMap .icon {
        background-image: url('assets/locator.png');
    }
    #storeRegistration .icon {
        background-image: url('assets/register.png');
    }
    #roadClosure .icon {
        background-image: url('assets/road.png');
    }
    #alertCenter .icon {
        background-image: url('assets/alert.png');
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin-left: 20%;
        padding: 10px;}
    
    /* Navbar styles */
    .navBar {
        position: fixed; 
        top: 0;
        left: 0;
        width: 8%;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        background-color: #303c6c;
        border-radius: 0px 35px 35px 0px;
        height: 97vh; 

    }

    .navBarText {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0; 
        margin-right: 20px;
        margin-top: 40px;
    }

    .icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .iconDiv {
        display: flex;
        flex-direction: column;
        margin-top: auto;
        margin-bottom: 30px;
        gap: 20px;
    }
    /* Custom icons for each item */
    #dashboard .icon {
        background-image: url('assets/dashboard.png');
    }
    #locatorMap .icon {
        background-image: url('assets/locator.png');
    }
    #storeRegistration .icon {
        background-image: url('assets/register.png');
    }
    #roadClosure .icon {
        background-image: url('assets/road.png');
    }
    #alertCenter .icon {
        background-image: url('assets/alert.png');
    }
}

@media (max-width: 768px) { 
    .container {
        margin-left: 20%;
        padding: 10px;
    }
    
    /* Navbar styles */
    .navBar {
        position: fixed; 
        top: 0;
        left: 0;
        width: 8%;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        background-color: #303c6c;
        border-radius: 0px 35px 35px 0px;
        height: 97vh; 
        transform: translateX(0); 
        animation: none; 
    }

    .navBarText {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0; 
        margin-right: 20px;
        margin-top: 40px;
    }

    .icon {
        display: inline-block;
        width: 15px;
        height: 15px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .iconDiv {
        display: flex;
        flex-direction: column;
        margin-top: auto;
        margin-bottom: 30px;
        gap: 20px;
    }
    /* Custom icons for each item */
    #dashboard .icon {
        background-image: url('assets/dashboard.png');
    }
    #locatorMap .icon {
        background-image: url('assets/locator.png');
    }
    #storeRegistration .icon {
        background-image: url('assets/register.png');
    }
    #roadClosure .icon {
        background-image: url('assets/road.png');
    }
    #alertCenter .icon {
        background-image: url('assets/alert.png');
    }
}


/* Small screens, like phones */
@media (max-width: 600px) {
    .alertCenterContainer {
        flex-direction: column;
        height: 100vh;
        width: 90vw;
    }

    .supplyShortageLayout,
    .roadUpdatesLayout {
        width: 100%;
    }

    .supplyShortageContainer, 
    .roadUpdatesContainer {
        height: auto;
        flex-direction: column;
        padding: 10px;
    }

    .SupplyLayout, 
    .roadClosedLayout, 
    .roadReOpenLayout {
        width: 100%;
    }

    .runningLow, 
    .outofStock {
        width: 100%;
        height: auto;
    }

    .roadContainer {
        height: auto;
        width: 100%;
        max-width: none;
    }
}

/* Medium screens, like tablets */
@media (min-width: 601px) and (max-width: 1024px) {
    .alertCenterContainer {
        flex-direction: row;
        height: 80vh;
        width: 80vw;
        gap: 10px;
    }

    .supplyShortageLayout {
        width: 60%;
    }

    .roadUpdatesLayout {
        width: 40%;
    }

    .supplyShortageContainer, 
    .roadUpdatesContainer {
        height: 75vh;
    }

    .SupplyLayout, 
    .roadClosedLayout, 
    .roadReOpenLayout {
        width: 90%;
    }

    .runningLow, 
    .outofStock {
        width: 90%;
        height: auto;
    }

    .roadContainer {
        height: auto;
        width: 90%;
        max-width: 400px;
    }
}

/* Extra-large screens, like large desktops or TVs */
@media (min-width: 1440px) {
    .alertCenterContainer {
        gap: calc(4vw + 25px);
    }

    .supplyShortageLayout {
        width: 70%;
    }

    .roadUpdatesLayout {
        width: 30%;
    }

    .runningLow, 
    .outofStock {
        width: 75%;
    }

    .roadContainer {
        max-width: 600px;
    }
}
