
body {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 0;
}

.container {
    animation: fadeIn 1s ease-out 0.5s forwards;
}

#supplies-list {
    justify-content: center;
    width: 60%;
    margin: 20px;
    font-family: 'Inter';
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  /* Allows wrapping if there are too many supply containers */
    gap: 20px; /* Adds space between the supply containers */
    max-height: 80vh; /* Optional: set a max height to control how tall the container can be */
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;/* Vertically cent er the content */
    gap: 10px; /* Space between the image and the header */
}

.supply-type-icon {
    width: 40px;
    height: 40px;
    object-fit: contain; 
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.supply-container {
    font-size: 10px;
    background-color: white;
    text-align: center;
    width: 40%; 
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box; 
    overflow-y: auto;
    height: 200px; 
    padding-right: 10px; 
    box-sizing: border-box; 
}

.supply-container::-webkit-scrollbar {
    width: 8px; 
}

.supply-container::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px; 
}

.supply-container::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 10px; 
    border: 2px solid #f1f1f1;
}

.supply-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.supply-item {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    transition: color 0.3s ease; 
}

.supply-item:hover {
    color: red;
}

.store-name-column, .availability-column {
    flex: 1; /* This ensures each column takes equal space */
}

h2 {
    color: #f4976c;
}

.navBar {
    width: 15%;
    display: flex;
    flex-direction: column;
    background-color: #303c6c;
    border-radius: 0px 35px 35px 0px;
    height: 94.9vh;
    padding: 30px 0 0px 20px;
    transform: translateX(-100%); 
    animation: slideIn 1s ease-out forwards; 
    transition:width 3s ease-in-out; 
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0; /* Start invisible */
    }
    to {
        transform: translateX(0);
        opacity: 1; /* Fully visible */
    }
}

.navBarRAPID {
    font-family: 'Inter';
    font-size: 24px;
    color: #f4976c;
    font-weight: 600;
}

.navBarText {
    font-family: 'Inter';
    font-size: 16px;
    color: #f4976c;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease;
}

.navBarText.active,
.navBarText:hover {
    color: white;
}
.MapContainerBig {
    background-color: white;
    height: 65vh; /* Height of the container is 65% of the viewport height */
    padding: 20px;
    width: 50%; /* Set to your desired width */
    border-radius: 15px;
    border: solid black 1.5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    position: relative; /* Ensure the map inside can fill its container */
}

#map {
    height: 100%; /* Make map fill the entire height of the parent container */
    width: 100%; /* Ensure the map fills the full width of the container */
}

.supply-item:last-child {
    border-bottom: none;
}

.name-column {
    width: 70%; 
    text-align: left; 
}

.availability-column {
    width: 30%; 
    text-align: right; 
}

.popup-content {
    font-family: 'Inter';
    font-size: 14px;
    color: #333;
}

.popup-content b {
    color: #303C6C;
}

.popup-content br {
    margin-bottom: 5px;
}


